* {
	/* --orange: #e35205;	 */
	--background-rideon: rgba(153,153,153,0.1);
	--background-chatmessage: rgba(153,153,153,0.1);
	--color-rideon: yellow;
	--color-message: white;
	--color-userid: #aaaaaa;
	--color-username: #e35205;	
	--color-timestamp: #aaaaaa;

	-webkit-font-smoothing: antialiased;
}
  div#chat {
	margin:10px 10px 10px 10px;
	padding:0 0 0 0;
}

body {

	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 10pt;
	color: white;
}

div.chatmessage, div.rideon {
	font-size: 100%;
	margin-bottom: 3px;
	padding: 1px 1px;
}
div.chatmessage {
	background-color: var(--background-chatmessage);
}
div.rideon {
	background-color: var(--background-rideon);
}

div.timestamp {	
	display: inline-block;
	width: 6em;
	vertical-align: top;
	color: var(--color-timestamp);
}
div.user {
	display: inline-block;
	width: 6em;
	vertical-align: top;
	color: var(--color-userid);
}
div.username {
	display: inline-block;
	width: 12em;
	vertical-align: top;
	color: var(--color-username);
}
div.message {
	display: block;
	width: 100%;
	color: var(--color-message);
}
div.rideon div.username {
	display: inline;
	color: var(--color-rideon);
}
div.rideon {
	color: var(--color-rideon);
}

@media screen and (min-width: 18em) and (max-width: 32em) {
	div.message {
		display: block;
		width: 100%;
	}
	div.username {
		width: calc(100% - 6em - 5px);
		max-height: 1.1em; 
		overflow: hidden;
	}
	div.username + div.message {
		display: block;
		width: 100%;
	}
}

@media screen and (min-width: 32em) {
	div.message {
		display: inline-block;
		width: calc(100% - 6em - 6em - 5px);
		vertical-align: top;
	}
	div.username + div.message {
		width: calc(100% - 6em - 12em - 20px);
	}
}


body, html {width:100vw; height:100vh; overflow:hidden; margin:0; }

