﻿div.pane {
    padding: 10px 10px 10px 10px;
}

.section-label {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
}

div.section + div.section {
    padding-top: 20px;
}

#login-details p {
    margin-bottom: 30px;
}

.login-field {
    margin: 10px;
}
    .login-field label, .login-field input {
        margin: 0;
        vertical-align: middle;
    }
    .login-field label {
        width: 70px;
        vertical-align: left;
    }
    .login-field input {
        margin-left: 20px;
        width: 240px;
    }
.login-setting {
    margin: 10px;
}
.login-setting .checkbox {
    padding-left: 0;
}
.login-setting .checkbox label {
    padding-left: 0;
}
.login-setting .checkbox input {
        /* vertical-align: unset; */
        margin-left: 15px;
        /* width: unset;  */
}

#error-message {
    font-weight: bold;
    color: red;
}

.btn[disabled] {
    background-color: #C0C0C0;
    background-image: none;
    border-color: #C0C0C0;
}