@font-face {
    font-family: "MullerDemo";
    src: url("MullerDemo-ExtraBold.otf");
}

@font-face {
    font-family: "BlackHanSans";
    src: url("BlackHanSans-Regular.ttf");
}

@font-face {
    font-family: "ChangaOne";
    src: url("ChangaOne-Regular.ttf");
}

@font-face {
    font-family: "Kanit";
    src: url("Kanit-ExtraBold.ttf");
}


@font-face {
    font-family: "ReplacePercent";
    src: url("ChangaOne-Regular.ttf");
    font-weight: 100 400;
    unicode-range: U+25;
}


@font-face {
    font-family: "ReplaceColon";
    src: url("ChangaOne-Regular.ttf");
    font-weight: 100 400;
    unicode-range: U+3a;
}

@font-face {
    font-family: "ReplaceSlash";
    /* src: url("ChangaOne-Regular.ttf"); */
    src: url("BlackHanSans-Regular.ttf");
    font-weight: 100 400;
    unicode-range: U+2f;
}
@font-face {
    font-family: "ReplacePlus";
    src: url("ChangaOne-Regular.ttf");
    /* src: url("BlackHanSans-Regular.ttf"); */
    font-weight: 100 400;
    unicode-range: U+2b;
}
@font-face {
    font-family: "ReplaceAt";
    /* src: url("ChangaOne-Regular.ttf"); */
    src: url("BlackHanSans-Regular.ttf");
    font-weight: 100 400;
    unicode-range: U+40;
}
@font-face {
    font-family: "ReplaceAmp";
    src: url("Kanit-ExtraBold.ttf");
    font-weight: 100 400;
    unicode-range: U+26;
}

.font-muller, .font-mullerdemo {
    font-family: ReplacePercent, ReplaceColon, ReplaceSlash, ReplacePlus, ReplaceAt, ReplaceAmp, MullerDemo !important;
    
}

.font-blackhansans {
    font-family: BlackHanSans !important;
}


.font-changaone {
    font-family: ChangaOne !important;
}


