<h1>How to activate chat and ride/run data</h1>

<p>
    Showing chat and ride/run data require a data source for it - specifically that ZwiftMap can intercept the UDP and TCP packages exchanged between the game and the server at Zwift.
</p>

<p>
    First of all you must activate the network capture features under Settings. Check the box, press Save, and close ZwiftMap. The next time you start ZwiftMap the features will be activated if you also make the following OS specific setup of your computer:
</p>

<h2>macOS</h2>

<p>
    Your user must have access rights to enable capture of network traffic. You can enable it with the following command in Terminal (it will give your user read access to the network devices /dev/bpf*):
</p>

<pre>
sudo chmod o+r /dev/bpf*
</pre>

<p>
    This will let ZwiftMap capture network traffic (from next time you start it).
</p>


<h2>Windows</h2>

<p>
    Besides ZwiftMap you must install <a href="https://nmap.org/npcap/">Npcap</a> on your PC. Check the WinPCap compatibility box when you install it.
</p>