* {
    box-sizing: border-box;
}
body {
    -webkit-app-region: drag;
}

button, input {
    -webkit-app-region: no-drag;
}

html.allow_interaction {
    background-color: rgba(80,80,80, 0.4) ;
    /*border: 10px solid rgb(80,80,80);*/
    border: 7px solid #e35205;
    margin: 0px 0px;
    padding: 0 0 0 0;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

/*html.allow_interaction body {
    background-color: rgba(80,80,80, 0.4) ;
    border: 10px solid rgb(80,80,80);
    margin: 0px 0px 0px 0px ;
    padding: 0 0 0 0;
    position: absolute;
    right: 0px;
    bottom: 0px;
}*/

html.allow_panzoom body {
    -webkit-app-region: no-drag;
}

html.allow_interaction body {
    position: absolute;
    width: calc(100vw - 14px);
    height: calc(100vh - 14px);
    left: 0px;
    top: 0px;   
}

#controls {
    display: none;
}

#save_position {
	display: none;
}

.allow_interaction #controls, #controls.forced-display {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
}

/* The panzoom button will by default be hidden*/
button#panzoom {
    display: none;
}
/*... but shown if in 'interaction' (resize) mode */
.allow_interaction button#panzoom {
    display: inline;
}

#controls button {
    border-radius: 4px;
    border: 1px solid #e35205;
    background: white;
    padding: 4px 6px;
}

#controls>button:not(:last-child) {
    margin-right: 5px;
}


#controls input[type=range] {
    margin: 0 0 0 0;
    vertical-align: middle;
}