/* example of user.css for zwiftmap-multi */

body {
  background-color: red;
}

g.roads .road {
	stroke: green !important;
}

g#livedata .me {
  stroke: yellow !important;
  fill: black !important;
}
